@media only screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container{
        max-width: 960px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 720px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .container{
        max-width: 540px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 575px){
    .container{
        max-width: 360px;
        padding: 0;
    }

}



@media only screen and (max-width: 992px){
    .navbar-main{
        display: none;
    }

    .navbar-logo{
        left: 10%;
        top: 25px;
    }

    .about-info{
        padding: 120px 0 !important;
        max-width: 720px;
        margin: 0 auto;
    }

    .about-main{
        flex-direction: column;
    }

    .pricing-row{
        flex-direction: column;
    }

    .pricing-main{
        max-width: 100%;
        margin-bottom: 24px;
        padding: 0;
    }

    .pricing-content{
        text-align: center;
    }

    .mobile-img-2{
        left: 23px !important;
    }

    .blog-row{
        flex-direction: column;
    }

    .blog-data-wrapper{
        max-width: 100%;
    }

    .blog-img{
        max-width: 100%;
    }

    .blog-data{
        padding: 120px 15px;
    }
}
.portfolio-row{
    flex-direction: column;
}

.portfolio-first{
    width: 100% !important;
    margin-top: 24px;
    order: 2;
}

.portfolio-second{
    width: 100% !important;
    margin-bottom: 0;
    order: 1;
    display: flex;
    flex-direction: column;
}

.img-overflow{
    width: auto;
}

.first-img-wrapper{
    order: 1;
}

.portfolio-info{
    order: 2;
}

.second-img-wrapper{
    order: 3;
}

.first-img img{
    width: 90%;
}

@media only screen and (max-width: 768px){
    .classic-box h2{
        font-size: 2.2rem;
    }

    .about-info{
        padding: 72px 0 !important;
        max-width: 540px;
        text-align: center;
    }

    .services-row{
        flex-direction: column;
    }

    .team-details-second{
        display: none;
    }

    .team-member{
        max-width: 600px;
        margin: 0 auto;
    }

    .reviews-row{
        flex-direction: column;
    }

    .facts{
        height: 260px;
    }

    .mobile-design{
        flex-direction: column;
    }

    .mobile-features{
        max-width: 100%;
    }

    .mobile-img{
        max-width: 100%;
    }

    .mobile-img-2{
        left: 154px !important;
    }

    .contact-row{
        flex-direction: column;
    }

    .contact-info-wrapper{
        width: 100%;
        max-width: 100%;
        order: 2;
    }

    .contact-form-main{
        padding: 72px 0;
    }
}

@media only screen and (max-width: 1200px){
    .about-info{
        padding: 0 20px;
    }

    .mobile-img-2{
        left: 42px;
    }
}

@media only screen and (max-width: 576px){
    .team-member{
        flex-direction: column;
        height: auto !important;
        width: 100%;
    }

    .team-img{
        order: 1;
        width: 100%;
    }

    .team-info-main{
        order: 2;
        width: 100%;
    }

    .team-member-info{
        padding: 40px 25px;
    }

    .mobile-img-2{
        left: 62px !important;
    }

    .input{
        max-width: 100%;
        flex: 0 0 100%;
    }

    .footer-social ul li{
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 316px){
    .classic-box div{
        flex-direction: column;
    }

    .mobile-img-2{
        left: 33px !important;
    }
}